<!DOCTYPE html>
<html>
<head>
  <h1>Eletricidade</h1>
</head>

  <%= @meters.each do |meter| %>
       <%= meter.value %>
  <% end %>

<body>
    <div id="result"></div>
  <div class="myProgress">
    <div class="myBar">10%</div>
  </div>
    Eletricidade
  <label class="switch">
    <input type="checkbox" checked>
    <div class="slider round"></div>
  </label><br><br>
    <%= button_to "", settings_path, :method => "get", :class => "myButtonSettings"%>
</body>
</html>