<!DOCTYPE html>
<html>
<head>
  <h1>Gás</h1>
</head>
<%= @meter.value%>
<%= @limit.limit_value %>
<body>
<div id="result"></div>
<div class="myProgress">
  <div class="myBar">10%</div>
</div>
Gás
<label class="switch">
  <input type="checkbox" checked>
  <div class="slider round"></div>
</label><br><br>
<%= button_to "", settings_path, :method => "get", :class => "myButtonSettings"%>
</body>
</html>