<!DOCTYPE html>
<html>
<body>
    Idioma:
    <select>
      <option value="PT">PT</option>
      <option value="ES">ES</option>
      <option value="EN">EN</option>
    </select><br><br>
    Moeda :
    <select>
      <option value="€">€</option>
      <option value="$">$</option>
      <option value="£">£</option>
    </select><br><br>
    <u>Eletricidade</u><br>
    Limite desejado de gastos:<textarea rows="1" cols="6" id="value1"></textarea><br><br>
    <u>Água</u><br>
    Limite desejado de gastos:<textarea rows="1" cols="6"id="value2"></textarea><br><br>
    <u>Gás</u><br>
    Limite desejado de gastos:<textarea rows="1" cols="6"id="value2"></textarea><br><br>
    <button onclick:saveValues(value1,value2,value3)>Guardar valores</button>
</body>
</html>