<!DOCTYPE html>
<html>
<head>
  <h1>Água</h1>
  <%= @meter.value%>

</head>
<label class="switch">
  <input type="checkbox" checked>
  <div class="slider round"></div>
</label><br><br>
<%= button_to "", settings_path, :method => "get", :class => "myButtonSettings"%>
</html>